@use "bootstrap/scss/bootstrap";

//  Estilos personalizados para la galería
.grid-item {
    width: 30%;
    margin-bottom: 10px;
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 5px; // Bordes redondeados opcionales
}

// Ajusta el margen de los botones
.filter-btn {
    margin: 5px;
}