@use "bootstrap/scss/bootstrap";

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start; // Alinea los elementos a la izquierda
}

.grid-item {
    width: 150px;
    height: auto;
    flex: 0 0 auto; // Evita que se encojan o estiren
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block; // Evita espacios en línea
}